<template name="dashboard">

  <div class="container">

    <div class="template-home">
      <div class="page-header text-center">
        <h1>Today did you?</h1>
      </div>
      {{#each userHabits}}
        <div class="post col-md-8 col-md-offset-2">
          <!-- {{habit}} 0 -->
          <div class="col-md-6">
            {{habit}}
          </div>
            <div class="pull-right">
              <ul class="list-inline">
                <li>
                  Weekly count: <span class="badge"> {{ count }}/7 </span>
                </li>
                <li>
                  <div class="btn-group" data-toggle="buttons">
<!--                     {{#if lastYes}}
                      <label class="btn btn-default active">
                      <input type="radio" id="yes"/>Yes
                      </label>
                    {{else}}
                        <label class="btn btn-default">
                        <input type="radio" id="yes"/>Yes
                      </label>
                    {{/if}} -->

                      <label class="btn btn-default {{#if lastYes}} active {{/if}}">
                      <input type="radio" id="yes"/>Yes
                      </label>


                      <label class="btn btn-default {{#unless lastYes}} active {{/unless}}">
                          <input type="radio" id="no"/>No
                      </label>
                  </div>
                </li>
            </ul>
          </div>
        </div> <!-- /post -->
      {{/each}}
    </div> <!-- /tempate-home -->
  </div> <!-- /container -->
</template>
