<template name="dashboard">

  <div class="container">

    <div class="template-home">
      <div class="page-header text-center">
        <h1>Current habits</h1>
      </div>
      {{#each userHabits}}
        <div class="post">
          <!-- {{habit}} 0 -->
          {{UserId}}
              <div class="btn-group pull-right" data-toggle="buttons">
                  <label class="btn btn-default">
                      <input type="radio" id="yes"/>Yes
                  </label>
                  <label class="btn btn-default">
                      <input type="radio" id="no"/>No
                  </label>
              </div>
        </div>
      {{/each}}
    </div> <!-- /tempate-home -->
  </div> <!-- /container -->
</template>
