<template name="dashboard">

  <div class="container add-padding-top">
    {{> sAlert}}
    <div class="template-home">
      <div class="page-header text-center">
        <h1>Weekly Dashboard</h1>
        Please select Yes or No. You can increase by 1 each day
      </div>
      {{#each userHabits}}
        <div class="post col-md-8 col-md-offset-2">
          <!-- {{habit}} 0 -->
          <div class="col-md-6">
            {{habit}}
          </div>
            <div class="pull-right">
              <ul class="list-inline">
                <li>
                  Weekly count: <span class="badge"> {{ count }}/7 </span>
                </li>
                <li>
                  <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default {{#if lastYes}} active {{/if}}" id="showBtn">
                      <input type="radio" checked="{{#if lastYes}} checked {{/if}}" id="yes"/>Yes
                      </label>


                      <label class="btn btn-default {{#unless lastYes}} active {{/unless}}">
                          <input type="radio" checked="{{#if lastYes}} checked {{/if}}" id="no"/>No
                      </label>
                  </div>
                </li>
            </ul>
          </div>
        </div> <!-- /post -->
      {{/each}}
    </div> <!-- /tempate-home -->
  </div> <!-- /container -->
</template>
