<template name="frontpage">
  <div class="container">
    <div class="template-home">
    <div class="page-header text-center">
      <h1>Welcome to Habit.io</h1>
    </div>
        <div class="col-md-4 col-md-offset-4">
        <p>
          <select class="form-control" id="trait-picker">
            <option disabled="disabled" selected="selected">I want to be:</option>
            {{#each traits}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </p>
        <p>
          <div class="list-group">
            {{#each habits}}
              <button type="button" class="list-group-item btn-block" id="habit-button">{{habit}}</button>
            {{/each}}
          </div>
        </p>
        <form class="register-form">
                <p>Email: <input type="email" class="form-control" id="login-email"></p>
                <p>Password: <input type="password" class="form-control" id="login-password"></p>
                <p><input type="submit" class="btn btn-default"  id="login-button" value="Register"></p>
        </form>
    </div>
  </div>
  </div> <!-- /container -->
</template>
